body {
  font-family: "Courier New", Courier, monospace;
  background-color: #006366;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.App-header--pages {
  margin: 0 auto;
  text-align: center;
  background-color: #333;
  padding: 10px 0 20px 0;
}
.App-heade--pages,
a {
  margin-right: 1rem;
  text-decoration: none;
  text-decoration: underline;
  color: white;
}
.App-heade--pages,
a:hover {
  color: rgb(150, 150, 247);
  text-shadow: 1px 1px 1px;
}

.HomeUser {
  text-align: center;
}
.Footer {
  margin: 0 auto;
  position: sticky;
  background-color: #333;
  width: 100%;
  margin-top: 31.7rem;
  display: inline-block;
}
.Footer,
footer-body {
  padding-bottom: 4rem;
  text-align: center;
}
.Footer,
footer-body--content {
  color: white;
}

.card {
  border: solid 1rem rgba(30, 0, 255, 0.694);
  background-color: rgba(195, 223, 14, 0.655);
  width: 18rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.card--title {
  text-decoration: underline;
  font-size: large;
}
.card--title::first-letter {
  text-transform: uppercase;
}
.card-image {
  margin: 0 auto;
  width: 10rem;
  box-shadow: 2px 2px 1px;
  border: 1px black solid;
  padding: 1rem;
}
.card-skill {
  color: black;
}
.card-skill--list {
  text-decoration: none;
}

.card-skill--title {
  font-weight: bold;
  border-bottom: 3px solid rgba(0, 0, 0, 0.818);
  margin-bottom: 1rem;
}
.card-skill--synopsis {
  text-align: left;
  margin-right: 2rem;
  padding-top: 2px;
}

.card-skill--synopsis::first-letter {
  text-transform: uppercase;
}

.card-skill--name {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
}
