.App-header--pages {
  margin: 0 auto;
  text-align: center;
  background-color: #333;
  padding: 10px 0 20px 0;
}
.App-heade--pages,
a {
  margin-right: 1rem;
  text-decoration: none;
  text-decoration: underline;
  color: white;
}
.App-heade--pages,
a:hover {
  color: rgb(150, 150, 247);
  text-shadow: 1px 1px 1px;
}

.HomeUser {
  text-align: center;
}
.Footer {
  margin: 0 auto;
  position: absolute;
  background-color: #333;
  width: 100%;
  margin-top: 30%;
}
.Footer,
footer-body {
  padding-bottom: 60px;
  text-align: center;
}
.Footer,
footer-body--content {
  color: white;
}

.card {
  border: solid 10px rgba(255, 0, 0, 0.637);
  background-color: rgba(14, 14, 223, 0.655);
  width: 15%;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 4rem;
}
.card--title {
  text-decoration: underline;
  font-size: large;
}
.card--title::first-letter {
  text-transform: uppercase;
}
.card--img {
  margin: 0 auto;
}
.card-skill {
  color: black;
}
.card-skill--list {
  text-decoration: none;
}
.card-skill--name {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
}
